<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.service.core.mapper.LendItemReturnMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lend_return_id, lend_item_id, lend_id, invest_user_id, invest_amount, current_period, lend_year_rate, return_method, principal, interest, total, fee, return_date, real_return_time, is_overdue, overdue_total, status, create_time, update_time, is_deleted
    </sql>

</mapper>
