<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.service.core.mapper.TransFlowMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, trans_no, trans_type, trans_type_name, trans_amount, memo, create_time, update_time, is_deleted
    </sql>

</mapper>
